{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'core/css/main.css'%}" />
		<!-- Importar VUE -->
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<style>
        /* Estilo básico para ocultar secciones */
			section { border: none !important; }
			/* Estilo opcional para suavizar la transición */
			[v-cloak] { display: none; } 
		</style>
	</head>
	<body class="is-preload">
		<!-- envolvemos todo en app para darle control a vue -->
         <div id="app" v-cloak>
			{% include './snippets/navbar.html' %}
			
			{% block body %}{% endblock %}

			{% include './snippets/footer.html' %}
		</div>
		

		<!-- Scripts awesome-->
			<script src="{% static 'core/js/jquery.min.js' %}"></script>
			<script src="{% static 'core/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'core/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'core/js/browser.min.js' %}"></script>
			<script src="{% static 'core/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'core/js/util.js' %}"></script>
			<script src="{% static 'core/js/main.js' %}"></script>

		<!-- Lógica de Vue -->
		<script>
			const { createApp } = Vue

				createApp({
					data() {
						return {
							seccionActual: 'buscar',
							oficinas: [], 
							queryBusqueda: '', //revisar sino es redundante
							tipoBusqueda: 'persona', // Valor por defecto
							resultados: [],
							paginaActual: 1,
							resultadosPorPagina: 25,
							// para el registro de movimientos:
							historialCompleto: [], // Para la tabla excel
          					ultimoDestinoId: null, // Para autocompletar origen
							
							// Detalles del expediente seleccionado
							expediente: {
								id: null,
								codigo: '',
								subido_alfresco: false,
								personas: [],
								movimientos: []
							},
							
							// Formulario Crear Expediente
							nuevoExpediente: {
								codigo: '',
								oficina_id: '',
								fecha: new Date().toISOString().split('T')[0],
								observaciones: ''
							},
							expedientesRecientes: [],

							paises: [],
							tiposDocumento: [],
							nuevaPersona: {
								primer_nombre: '', segundo_nombre: '',
								primer_apellido: '', segundo_apellido: '',
								alias: '',
								tipo_documento_id: '', documento: '',
								nacionalidad_id: '', nacionalidad_nombre: '', // para el filtro
								rol: 'indagado'
							},
							nuevoAliasPerfil: '',
							personasVinculadas: [],
							cargando: false,
							
							// DETALLES DE PERSONA
							personaPerfil: {
								identificaciones: [],
								expedientes: [],
								aliases: []
							},
							nuevoDocPerfil: { tipo_documento_id: '', numero: '' },

							//para movimientos de expedientes:
							// En data()
							nuevoMovimiento: {
								codigo_expediente: '', 
								origen_id: '', 
								destino_id: '', 
								fecha: '', 
								entregado_por: '', 
								recibido_por: '', 
								observaciones: ''
							},
							historialBusqueda: [],
							tiposMovimiento: [],

						}
					},
					computed: {
					// Esta función corta el array de resultados según la página
						resultadosPaginados() {
							let inicio = (this.paginaActual - 1) * this.resultadosPorPagina;
							let fin = inicio + this.resultadosPorPagina;
							return this.resultados.slice(inicio, fin);
						},
						totalPaginas() {
							return Math.ceil(this.resultados.length / this.resultadosPorPagina);
						},
						// para movimientos de expedientes:
						 movimientosResumidos() {
							return this.expediente.movimientos.slice(0, 3);
						},
					},
					
					mounted() {
						this.cargarOficinas();
						this.cargarPaises();
						this.cargarTiposDocumento();
						this.cargarRecientes();
						
					},

					methods: {
						async cargarOficinas() {
							try {
								const response = await fetch('/api/oficinas/');
								const data = await response.json();
								this.oficinas = data.oficinas;
							} catch (e) { console.error("Error cargando oficinas"); }
						},

						async verPerfilPersona(id) {
							try {
								const response = await fetch(`/api/persona/${id}/`);
								this.personaPerfil = await response.json();
								this.seccionActual = 'persona_perfil';
							} catch (error) { alert("Error al cargar perfil"); }
						},

						async guardarNuevoDocPerfil() {
							try {
								const response = await fetch(`/api/persona/${this.personaPerfil.id}/identificacion/`, {
									method: 'POST',
									headers: { 'Content-Type': 'application/json', 'X-CSRFToken': '{{ csrf_token }}' },
									body: JSON.stringify(this.nuevoDocPerfil)
								});
								if (response.ok) {
									alert("Documento agregado");
									this.verPerfilPersona(this.personaPerfil.id); // Recargar
									this.nuevoDocPerfil = { tipo_documento_id: '', numero: '' };
								} else {
									const data = await response.json();
									alert(data.message);
								}
							} catch (error) { alert("Error de conexión"); }
						},

						async buscar() {
							if (!this.queryBusqueda.trim()) return; // No buscar si está vacío
							
							this.cargando = true;
							this.paginaActual = 1;
							this.resultados = []; // Limpiar antes de buscar
							
							try {
								// IMPORTANTE: Revisar que la URL coincida con urls.py y use la barra final antes del ?
								const url = `/api/buscar/?q=${encodeURIComponent(this.queryBusqueda)}&tipo=${this.tipoBusqueda}`;
								console.log("Buscando en:", url); // Para debug en consola
								
								const response = await fetch(url);
								const data = await response.json();
								this.resultados = data.resultados;
							} catch (error) {
								console.error("Error en la petición fetch:", error);
							} finally {
								this.cargando = false;
							}
						},
						
						async cargarPaises() {
							const res = await fetch('/api/paises/');
							const data = await res.json();
							this.paises = data.paises;
						},
						async cargarTiposDocumento() {
							const res = await fetch('/api/tipos-documento/');
							const data = await res.json();
							this.tiposDocumento = data.tipos;
						},

						async verDetalles(id) {
							if (this.cargando) return; // Evitar múltiples llamadas
							this.cargando = true;
							try {
								const response = await fetch(`/api/expediente/${id}/`);
								const data = await response.json();
								this.expediente = data;
								this.personasVinculadas = data.personas;
								
								// Determinamos la última oficina donde estuvo el expediente
								if (data.movimientos.length > 0) {
									// El primer movimiento del array (ordenado por -fecha) es el último destino
									this.ultimoDestinoId = data.movimientos[0].destino_id;
								} else {
									// Si no tiene movimientos, el origen por defecto es la oficina de creación
									this.ultimoDestinoId = data.oficina_id; 
								}

								this.seccionActual = 'detalles';
							} catch (error) { alert("Error al cargar detalles"); }
							finally { this.cargando = false; }
						},
						abrirRegistroMovimiento() {
							// Pre-configuramos el formulario de movimiento
							this.nuevoMovimiento = {
								codigo_expediente: this.expediente.codigo,
								origen_id: this.ultimoDestinoId, // Auto-completado
								destino_id: '',
								fecha: new Date().toISOString().slice(0, 16), // Fecha y hora actual formato input
								entregado_por: '',
								recibido_por: '',
								observaciones: ''
							};
							this.seccionActual = 'registrar_movimiento';
						},

						async guardarMovimiento() {
							const res = await fetch('/api/movimientos/registrar/', {
								method: 'POST',
								headers: {'Content-Type': 'application/json', 'X-CSRFToken': '{{ csrf_token }}'},
								body: JSON.stringify(this.nuevoMovimiento)
							});
							if(res.ok) {
								alert("Movimiento registrado con éxito");
								this.verDetalles(this.expediente.id); // Recargamos detalles para ver el nuevo movimiento
							}
						},

					async guardarCambioAlfresco() {
							try {
								const response = await fetch(`/api/expediente/${this.expediente.id}/alfresco/`, {
									method: 'POST',
									headers: {
										'Content-Type': 'application/json',
										'X-CSRFToken': '{{ csrf_token }}'
									},
									body: JSON.stringify({ estado: this.expediente.subido_alfresco })
								});
								if(response.ok) alert("Estado de Alfresco actualizado en base de datos");
							} catch (error) {
								alert("Error al guardar");
							}
						},

						async cargarRecientes() {
							const res = await fetch('/api/recientes/');
							const data = await res.json();
							this.expedientesRecientes = data.recientes;
						},

						async guardarNuevoExpediente() {
							try {
								const response = await fetch('/api/expediente/crear/', {
									method: 'POST',
									headers: {
										'Content-Type': 'application/json',
										'X-CSRFToken': '{{ csrf_token }}'
									},
									body: JSON.stringify(this.nuevoExpediente)
								});

								const data = await response.json(); // Leemos la respuesta siempre

								if (response.ok) {
									alert("Expediente creado con éxito.");
									this.cargarRecientes(); 
									this.verDetalles(data.id);
									this.nuevoExpediente = { codigo: '', oficina_id: '', fecha: new Date().toISOString().split('T')[0], observaciones: '' };
								} else {
									// Aquí mostramos el mensaje de "Expediente ya existe" que enviamos desde Django
									alert("Error: " + (data.message || "No se pudo crear el expediente."));
								}
							} catch (error) {
								alert("Ocurrió un error al conectar con el servidor.");
							}
						},

						// Método para el botón de agregar persona
						async agregarPersona() {
						// Buscamos el país
						const paisEncontrado = this.paises.find(p => p.nombre === this.nuevaPersona.nacionalidad_nombre);
						
						 if(this.nuevaPersona.primer_nombre || this.nuevaPersona.alias) {
							
							try {
								// ENVIAR AL BACKEND
								const response = await fetch(`/api/expediente/${this.expediente.id}/vincular-persona/`, {
									method: 'POST',
									headers: {
										'Content-Type': 'application/json',
										'X-CSRFToken': '{{ csrf_token }}'
									},
									body: JSON.stringify(this.nuevaPersona)
								});

								if (response.ok) {
									const data = await response.json(); // <--- LEEMOS LA RESPUESTA DEL SERVER

									// Si el servidor guardó con éxito, actualizamos la tabla visual
									const personaFinal = { ...this.nuevaPersona,
										persona_id: data.persona_id, // <--- GUARDAMOS EL ID QUE NOS DIO EL SERVER
									 	// Sincronizamos el nombre del campo para que Vue lo encuentre
										persona_aliases: this.nuevaPersona.alias, 
										nacionalidad_nombre: this.nuevaPersona.nacionalidad_nombre,
										rol: this.nuevaPersona.rol
									};
									this.personasVinculadas.push(personaFinal);
									
									// Limpiar formulario
									this.nuevaPersona = { 
										primer_nombre: '', segundo_nombre: '', 
										primer_apellido: '', segundo_apellido: '', 
										alias: '',
										tipo_documento_id: '', documento: '', 
										nacionalidad_nombre: '', 
										rol: 'indagado' 
									};
									
									alert("Persona vinculada correctamente al expediente.");
								}
							} catch (error) { alert("Error de conexión"); }
							} else {
								alert("Ingrese al menos un Nombre o un Alias");
							}
						},
						
						async guardarNuevoAliasPerfil() {
							if (!this.nuevoAliasPerfil.trim()) return;
							try {
								const response = await fetch(`/api/persona/${this.personaPerfil.id}/alias/`, {
									method: 'POST',
									headers: { 'Content-Type': 'application/json', 'X-CSRFToken': '{{ csrf_token }}' },
									body: JSON.stringify({ alias: this.nuevoAliasPerfil })
								});
								if (response.ok) {
									this.verPerfilPersona(this.personaPerfil.id); // Recargar perfil
									this.nuevoAliasPerfil = ''; // Limpiar input
								}
							} catch (error) { alert("Error al guardar alias"); }
						},

						async buscarHistorial() {
							const res = await fetch(`/api/movimientos/historial/?codigo=${this.nuevoMovimiento.codigo_expediente}`);
						const data = await res.json();
						this.historialBusqueda = data.historial;
					}
				}
			}).mount('#app')
		</script>
        
	</body>
</html>
